# Bagging

In [1]:
from sklearn import model_selection
from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import load_boston
import pandas as pd

In [2]:
# loading data
data = load_boston()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['MEDV'] = data.target
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [3]:
# Predictor variables and target variable
X = df.iloc[:, :-1].values
Y = df.iloc[:,-1].values
print(X.shape)
print(Y.shape)

(506, 13)
(506,)

In [4]:
seed = 7
kfold = model_selection.KFold(n_splits = 3, random_state = seed, shuffle=True)

In [5]:
# no. of base classifier
num_trees = 500

# Classifier Construction
bagging = BaggingRegressor(DecisionTreeRegressor(), n_estimators = num_trees, random_state=seed)
bagging

BaggingRegressor(base_estimator=DecisionTreeRegressor(), n_estimators=500,
                 random_state=7)

In [6]:
results = model_selection.cross_val_score(bagging, X, Y, cv = kfold)
print("Accuracy :", results.mean())

Accuracy : 0.8638826902449059

# Boosting

In [7]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris

In [8]:
# loading data
data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['species'] = data.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [9]:
# Predictor variables and target variable
X = df.iloc[:, :-1].values
Y = df.iloc[:,-1].values
print(X.shape)
print(Y.shape)

(150, 4)
(150,)

In [10]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(X, Y, test_size=0.1, shuffle=True)
print(x_train.shape)
print(x_test.shape)

(135, 4)
(15, 4)

In [11]:
# Building the base estimator
estim_base = DecisionTreeClassifier(max_depth = 5, min_samples_leaf = 1)
estim_base

DecisionTreeClassifier(max_depth=5)

In [12]:
model = AdaBoostClassifier(base_estimator = estim_base, learning_rate = 0.1, n_estimators = 400)
model

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=5),
                   learning_rate=0.1, n_estimators=400)

In [13]:
# Model training
model.fit(x_train, y_train)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=5),
                   learning_rate=0.1, n_estimators=400)

In [14]:
scores = model_selection.cross_val_score(model, x_test, y_test)
print("Accuracy:", scores.mean())

Accuracy: 0.9333333333333332

C:\Users\Utkarsh\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:666: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"